.container {
  min-height: 100vh;
  max-width: 1200px;

  margin: 0 auto;
  padding: 30px;

  background-color: #eee;
}

.button-container {
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 30px;
}

